<h2>Disciplinas</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">CÓDIGO</th>
      <th scope="col">NOME</th>
      <th scope="col">DIA DA SEMANA</th>
      <th scope="col">HORÁRIO</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row"><a [routerLink]="['/list',1]">1</a></th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row"><a [routerLink]="['/list',2]">2</a></th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row"><a [routerLink]="['/list',3]">3</a></th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
