<h2>Disciplinas</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">CÓDIGO</th>
      <th scope="col">NOME</th>
      <th scope="col">DIA DA SEMANA</th>
      <th scope="col">HORÁRIO</th>
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <th scope="row"><a [routerLink]="['/list',0]">ITE005</a></th>
      <td>Tópicos Especiais em Sistemas para Internet III</td>
      <td>Quinta-Feira</td>
      <td>19:00-22:30</td>
    </tr>
    <tr>
      <th scope="row"><a [routerLink]="['/list',1]">IDS002</a></th>
      <td>Desenvolvimento para Servidores II </td>
      <td>Quinta-Feira</td>
      <td>19:00-22:30</td>
    </tr>
    <tr>
      <th scope="row"><a [routerLink]="['/list',2]">ITE004</a></th>
      <td>Tópicos Especiais em Sistemas para Internet II</td>
      <td>Sexta-Feira</td>
      <td>19:00-22:30</td>
    </tr>
    <tr>
      <th scope="row"><a [routerLink]="['/list',3]">ISW013</a></th>
      <td>Desenvolvimento para Dispositivos Móveis II</td>
      <td>Sábado</td>
      <td>13:30-17:00</td>
    </tr>
  </tbody>
</table>
